div.main{
    width:100%;
}

div.admin_posts{
    width:50%;
    border-right: 1px solid #cccccc;
    padding: 0;
}

div.post:hover{
    border-left:2px solid #cccccc;
}

div.post{
    padding-left: 5px;
    border-left:2px solid rgba(0,0,0,0.0);
    border-bottom:1px solid #ccc;
}

table.post{
    margin: 0 10px 0 10px;
}
h2{
    text-shadow: 0 0 5px yellow;
}

div.login{
    width:180px;
    margin:auto;
}

