body {
    padding: 0;
    text-align: center;
    font-family: 'Gilda Display';
    position: relative;
    margin: 0;
}
a {
    color: rgba(0, 0, 0, 0.75);
}

a:hover {
    color: rgba(95, 95, 95, 0.75);
}

span.aspan1 {
    font-size: 24px;
    color: orange;
}

div.top_menu {
    width:800px;
    margin:auto;
    border: 0;
    font-family: 'Orbitron';
}

div.top_menu ul {
    text-align: center;
    margin: auto;
    margin: 0;
}

div.top_menu ul li {
    display: inline;
    margin-right: 10px;
}

a.home_link {
    float: right;
    font-size: 22px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
div.bottom{
    padding-top: 20px;
    height:30px;
}

table.post{
    width:95%;
    text-align: left;
}

h1, h2, h3{
    font-family: 'Orbitron';
}

p.date{
    font-size: 12px;
    font-family: 'Orbitron';
    margin:5px 0 0 0;
    color: rgba(0, 0, 0, 0.65);
    float: right;
}