body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    background: black url('../img/bg.jpg') top center no-repeat;
}

div.main{
    width:900px;
    padding:20px 10px 10px 10px;
    margin:auto;
    margin-top: 50px;
    background: rgba(107,225,255,0.5);
}

div.post{
    width:770px;
    padding:10px;
    margin:10px;
    background: rgba(255,255,255,0.7);
}

div#content{
    width: 820px;
    margin:auto;
    margin-top:30px;
}

