<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:pf="http://primefaces.org/ui">
<head>
	<!--<meta charset="utf-8"/>-->
	<title>8bitcenter | pretty software</title>
	<meta name="title" content="8bitmemo | pretty software" />
	<meta name="description" content="Free, easy-to-use and lovely software that you will never forget." />
	<!-- <link rel="image_src" href="/images/notify_better_image.png" />

	<meta content="http://www.thepetedesign.com/demos/onepage_scroll_demo.html" property="og:url" />
	<meta content="http://www.thepetedesign.com/images/onepage_scroll_image.png" property="og:image" /> -->
	<link rel="shortcut icon" id="favicon" href="../resources/img/favicon.ico"/>
	<meta name="author" content="Sergii Pukhov"/>
	<link rel="canonical" href="http://www.thepetedesign.com/demos/onepage_scroll_demo.html" />
  <link href='http://fonts.googleapis.com/css?family=Sintony' rel='stylesheet' type='text/css'/>
  <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'/>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <link href='../resources/css/main.css' rel='stylesheet' type='text/css'/>

  
</head>
<body>
  <div class="wrapper">
	  <div class="main">
	    <h1 class="main"><span style="font-size:46px; color:#999999;">Welcome to</span> Memo</h1>
      <p>Use Memo to keep in mind all necessary things
      </p>
      <div class="btns">

          <h:form >

              <h:panelGrid columns="1">
                  <!--<h:outputText value="Login:" />-->
                  <a href="../index.xhtml">back</a>
                  <h:inputText value="#{userBean.email}" p:placeholder="email" class="input" />
                  <h:inputSecret value="#{userBean.password}" p:placeholder="password"  class="input" />
                  <h:inputText value="#{userBean.firstname}" p:placeholder="firstname" class="input" />
                  <h:inputText value="#{userBean.secondname}" p:placeholder="secondname" class="input" />
                  <!-- <h:form>
                      <pf:captcha label="Captcha" theme="blackglass" publicKey="6LfwZwoAAAAAAEhRyntKF1PBzysAJLzqp2v-GMRR"/>
                  </h:form> -->
                  <!--<h:outputText value=""></h:outputText>-->
                  <h:commandButton value="Register" action="#{userBean.register()}" class="reload btn" />

              </h:panelGrid>

          </h:form>

        <!--<input placeholder="login" class="input"></input>
        <input placeholder="password" type="password" class="input"></input>
            <a class="reload btn" href="#">Log In</a>
            <a class="reload btn signup" href="#">Sign up</a>
        -->  </div>
    </div>
  <div class="top_menu">
    <a href="http://8bitcenter.com" class="home_link">8bit<span class="aspan1">center</span></a>
  </div>
  </div>
</body>
</html>