<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<head>
</head>
<body>
<ui:composition template="../WEB-INF/templates/admin/admin_template.xhtml">
    <ui:define name="content">
        <div class="admin_posts">
            <h2>Posts:</h2>
            <h:inputText p:placeholder="search..." />
            <h:commandButton value="Find" />
            <h:dataTable value="#{postBean.getPosts()}"
                         var="post" styleClass="post">
                <h:column>
                    <div class="post">
                        <p class="date">#{post.date}</p>
                        <h3>#{post.topic}</h3>
                        <p>#{post.shortText}</p>
                        <h:commandButton value="Edit"/>
                        <h:commandButton value="Delete"/>
                    </div>
                </h:column>

            </h:dataTable>
        </div>

    </ui:define>
</ui:composition>
</body>
</html>