<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<head>
</head>
<body>
<ui:composition template="WEB-INF/templates/template.xhtml">
    <ui:define name="content">
        <h:dataTable value="#{postBean.getPosts()}"
                     var="post" styleClass="post">
            <h:column>
                    <div class="post">
                        <p class="date">#{post.date}</p>
                        <h3>#{post.topic}</h3>
                        <p>#{post.shortText}</p>
                    </div>
            </h:column>

        </h:dataTable>
    </ui:define>
</ui:composition>
</body>
</html>