<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
</h:head>
<body>
<ui:composition template="WEB-INF/templates/admin/admin_template.xhtml">
    <ui:define name="main_menu">
        <h2>Please, login to system</h2>
    </ui:define>
    <ui:define name="content">
        <div class="login">
            <h:form>
                <h:panelGrid columns="1">
                    <h:inputText p:placeholder="login" value="${userBean.login}"/>
                    <h:inputSecret p:placeholder="password" value="${userBean.password}" />
                    <h:commandButton value="Login" action = "#{userBean.validateLogin()}" />
                </h:panelGrid>
            </h:form>

        </div>

    </ui:define>
</ui:composition>
</body>
</html>