<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:pf="http://primefaces.org/ui">
<h:head>
	<!--<meta charset="utf-8"/>-->
	<title>8bitcenter | pretty software</title>
	<meta name="title" content="8bitmemo | pretty software" />
	<meta name="description"
		content="Free, easy-to-use and lovely software that you will never forget." />
	<!-- <link rel="image_src" href="/images/notify_better_image.png" />

    <meta content="http://www.thepetedesign.com/demos/onepage_scroll_demo.html" property="og:url" />
    <meta content="http://www.thepetedesign.com/images/onepage_scroll_image.png" property="og:image" /> -->
	<link rel="shortcut icon" id="favicon" href="resources/img/favicon.ico" />
	<meta name="author" content="Sergii Pukhov" />
	<link rel="canonical"
		href="http://www.thepetedesign.com/demos/onepage_scroll_demo.html" />
	<link href='http://fonts.googleapis.com/css?family=Sintony'
		rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Orbitron'
		rel='stylesheet' type='text/css' />

	<link href='resources/css/main.css' rel='stylesheet' type='text/css' />
	<link href='resources/css/posts.css' rel='stylesheet' type='text/css' />

</h:head>

<body>
	<div class="wrapper">
		<div class="main">

			<div class="btns">
				<h1>leave a note:</h1>
				<pf:messages id="messages" autoUpdate="true" closable="true" />
				<h:form prependId="false">

					<h:panelGrid columns="3">
						<h:inputText styleClass="input textarea" p:placeholder="topic"
							value="#{postBean.topic}" required="true" id="topicInput" />
						<pf:message for="topicInput" display="icon" />


						<h:button styleClass="reload btn attach" />
						<h:inputTextarea styleClass="textarea" value="#{postBean.message}"
							p:placeholder="enter your note here..." rows="4" required="true"
							id="messageInput" />
						<pf:message for="messageInput" display="icon" />


						<h:commandButton styleClass="reload btn save_post_btn"
							action="#{postBean.savePost()}" />
					</h:panelGrid>
				</h:form>

				<h:form id="notesForm" prependId="false">
					<h:dataTable value="#{userBean.posts}" var="var" styleClass="posts"
						id="table">
						<h:column>
							<div class="post">
								<f:facet name="header">
									<h:outputText value="Your notes:" />
								</f:facet>
								<div class="post_nav">



									<pf:commandLink ajax="true" onclick="PF('editPanel').show();"
										styleClass="edit_post_btn" style="margin:0 0 0 370px;"
										action="#{postBean.setEditedPost(var)}" />

									<pf:commandLink ajax="true"
										action="#{postBean.setEditedPost(var)}"
										onclick="PF('removePanel').show();"
										styleClass="remove_post_btn" style="margin:0 0 0 410px;"
										process="@form" update="@form">
									</pf:commandLink>

									<h3>
										<h:outputText value="#{var.topic}" />
									</h3>

								</div>

								<h:outputText value="#{var.message}" />
							</div>
						</h:column>
					</h:dataTable>
				</h:form>
			</div>

		</div>

		<pf:dialog id="editNote" header="Edit note" widgetVar="editPanel"
			modal="true" height="100%" width="490">
			<h:form prependId="false" id="me">

				<h:panelGrid columns="1">
					<h:outputText value="Topic:" styleClass="theme_text" />
					<h:inputText value="#{postBean.topic}" id="topic" required="true">
						<f:validateLength minimum="2" />
					</h:inputText>
					<pf:message for="topic" display="text" />
					<h:outputText value="Message:" styleClass="theme_text" />
					<h:inputTextarea cols="30" rows="10" value="#{postBean.message}"
						required="true" id="message">
						<f:validateLength minimum="2" />
					</h:inputTextarea>
					<pf:message for="message" display="text" />
				</h:panelGrid>


				<pf:commandButton value="Save" action="#{postBean.updatePost()}"
					onclick="if(#{!facesContext.validationFailed}){PF('editPanel').show();">
				</pf:commandButton>

			</h:form>
		</pf:dialog>

		<pf:dialog id="removeNote" header="Remove note"
			widgetVar="removePanel" modal="true" height="100%" width="320">
			<h:outputText value="Do you really want to delete this note?" />
			<br />
			<div>
				<pf:commandButton value="Delete" styleClass="reload btn btn_popup"
					action="#{postBean.deletePost()}" process="@this"
					update="notesForm" onclick="PF('removePanel').hide();" />
			</div>
		</pf:dialog>

		<div class="top_menu">
			<a href="http://8bitcenter.com" class="home_link">8bit<span
				class="aspan1">center</span></a>
			<ul>
				<li><a href="posts.xhtml">Home</a></li>
				<li><a href="posts.xhtml">Notes</a></li>
				<li><a href="calendar.xhtml">Calendar</a></li>
				<li><a href="index.xhtml">LogOut</a></li>
			</ul>
		</div>
	</div>
</body>
</html>