<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
<h:head>
    <link href='#{facesContext.externalContext.requestContextPath}/resources/css/common.css' rel='stylesheet' type='text/css'/>
    <link href='#{facesContext.externalContext.requestContextPath}/resources/css/admin.css' rel='stylesheet' type='text/css'/>
    <link rel="shortcut icon" id="favicon" href="img/favicon.ico"/>
    <link href='http://fonts.googleapis.com/css?family=Gilda+Display' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'/>

</h:head>

<h:body>

    <div class="main">
        <div id="header">
            <ui:insert name="main_menu">
                <ui:include src= "admin_menu.xhtml" />
            </ui:insert>
        </div>

        <div id="content">
            <ui:insert name="content">
                <ui:include src= "../content.xhtml" />
            </ui:insert>
        </div>

        <div id="bottom">
            <ui:insert name="bottom">
                <ui:include src= "../bottom.xhtml" />
            </ui:insert>
        </div>


    </div>

</h:body>

</html>