<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
<h:body>
    <ui:composition>
            <div class="top_menu">
                <a href="http://8bitcenter.com" target="_blank" class="home_link">8bit<span class="aspan1">center</span></a>
                <ul>
                    <li><a href="admin.xhtml">Posts</a></li>
                    <li><a href="pages.xhtml">Pages</a></li>
                    <li><a href="add_post.xhtml">Add New</a></li>
                </ul>
            </div>
    </ui:composition>
</h:body>
</html>